@font-face {
    font-family: GothamMedium;
    src: url(fonts/GothamMedium.ttf);
    }


html {
    box-sizing: border-box;
    font-size: 62.5%;/*resetpara REMS  62.5% = 10px de 16px*/
}
* {
    margin: 0;
    padding: 0;
    z-index: 99;
position: sticky;
}
.container {
    max-width: 102.4rem;
    margin: 0 auto;
    padding: 0 2rem;
}
.flex, .flex-column {
    display: flex;
}
.flex-column {
    flex-direction: column;
    align-items: center;
}
a {
    text-decoration: none;
    color: #fff;
}
p {
    font-family: 'Roboto', sans-serif;
}
h4 {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 1.6rem;
}
button {
    cursor: pointer;
    width: 65px;
    height: 30px;
    background: #fff;
    border: none;
    border-radius: 7px;
    margin-top: 10px;
    text-transform: uppercase;
    font-family: 'Roboto';
}

header {
    background-image: url('fondo.jpg');
    background-position: center center;
    background-size: cover;
    filter: grayscale(25%);
}
header .container {
    height: 100vh;
    justify-content: space-around;
}
.header-texto {
    color: #fff;
}
.header-texto p {
    background: black;
}
h1 {
    font-family: GothamMedium, serif;
    font-size: 7rem;
}
header .container p {
    font-family: GothamMedium, serif;
    font-size: 2rem;
}
.redes-header {
    margin-top: 15px;
}

header span {
    font-size: 0;
}
span a.btn-fb {
    background-position: 0 0;
    background-repeat: no-repeat;
}
span a.btn-twt {
    background-position: 0 -43px;
    background-repeat: no-repeat;
}
span a.btn-wsp {
    background-position: 0 -86px;
    background-repeat: no-repeat;
}
.right span a {
    background-image: url(https://s3.amazonaws.com/glr-demo/2020/04/13/icons-white-1586816732.svg);
}
span [class*="btn-"] {
    display: inline-block;
    width: 43px;
    height: 43px;
    margin-left: 10px;
}

.parallax-container {
    position: relative;
    margin-top: -200px;
    z-index: -1;
    width: 60rem;
}
.parallax-container p {
    font-size: 21px;
    line-height: 25px;
}
  
.parallax {
    position: absolute;
    height: 200%;
    width: 100%;
    z-index: -1;
}




.descripción {
    padding-top: 2.5rem;
    font-size: 1.7rem;
}
.descripción p {
    margin-bottom: 1rem;
}

.apps-site {
    margin-bottom: 10rem;
}
.apps-site-row {
    display: flex;
    justify-content: space-around;
    width: 88rem;
    margin: 0 auto;
    margin-top: 60px;
}
.app {
    width: 15rem;
    background: rgb(32, 30, 30);
    height: 18rem;
    justify-content: space-around;
    padding: 15px 0 10px 0;
}

img {
    width: 10rem;
}