@font-face {
    font-family: GothamMedium;
    src: url(fonts/GothamMedium.ttf);
    }


html {
    box-sizing: border-box;
    font-size: 62.5%;/*resetpara REMS  62.5% = 10px de 16px*/
}
* {
    margin: 0;
    padding: 0;
    z-index: 99;
position: sticky;
}
.flex, .flex-column {
    display: flex;
}
.flex-column {
    flex-direction: column;
    align-items: center;
}
a {
    text-decoration: none;
    color: #fff;
}
p {
    font-family: 'Roboto', sans-serif;
}
h3 {
    color: #fff;
    padding: 0px 0 15px 15px;
    font-family: GothamMedium, serif;
    font-size: 3rem;
}
h4 {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 1.6rem;
    text-align: center;
}
button {
    cursor: pointer;
    width: 100%;
    height: 30px;
    background: #fff;
    border: none;
    border-radius: 7px;
    margin-top: 17px;
    text-transform: uppercase;
    font-family: 'Roboto';
}

header {
    filter: grayscale(25%);
    height: 100vh;
}
.img-banner {
    height: 100vh;
}
.imgfondo {
    background-image: url('fondo.jpg');
    background-position: center center;
    background-size: cover;
    height: 100%;
}
.container-header {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -320px;
}
header .container {
    height: 100vh;
    justify-content: space-around;
    width: 625px;
}
.header-texto {
    color: #fff;
}
.header-texto p {
    background: black;
}
h1 {
    font-family: GothamMedium, serif;
    font-size: 7rem;
    margin-bottom: 10px;
}
header .container p {
    font-family: GothamMedium, serif;
    font-size: 2rem;
}
.redes-header {
    margin-top: 15px;
}

header span {
    font-size: 0;
}
span a.btn-fb {
    background-position: 0 0;
    background-repeat: no-repeat;
}
span a.btn-twt {
    background-position: 0 -43px;
    background-repeat: no-repeat;
}
span a.btn-wsp {
    background-position: 0 -86px;
    background-repeat: no-repeat;
}
.right span a {
    background-image: url(https://s3.amazonaws.com/glr-demo/2020/04/13/icons-white-1586816732.svg);
}
span [class*="btn-"] {
    display: inline-block;
    width: 43px;
    height: 43px;
    margin-left: 10px;
}

.parallax-container {
    position: relative;
    z-index: -1;
    width: 100%;
}

.parallax {
    position: absolute;
    width: 100%;
    z-index: -1;
}




.descripcion {
    padding-top: 2.5rem;
    font-size: 1.7rem;
    background-color: #fff;
    padding-bottom: 60px;
}
.descripcion h2 {
    color: #2b2b2b;
    font-family: GothamMedium, serif;
    font-size: 4rem;
    width: 1024px;
    margin: 20px auto;
    margin-bottom: 20px;
}
.descripcion p {
    margin: 0 auto;
    width: 102.4rem;
    color: #5e5e5e;
}

.apps-container {
    padding: 60px;
}
.apps-titulo {
    color: #2b2b2b;
    width: 800px;
    margin: 0 auto;
    font-size: 2rem;
}
.apps-site {
    margin-bottom: 2rem;
    background-color: #fff;
}
.apps-site-row {
    display: flex;
    justify-content: space-around;
    width: 88rem;
    margin: 0 auto;
    margin-top: 60px;
}
.app {
    width: 14.3rem;
    background: rgb(32, 30, 30);
    height: 18rem;
    justify-content: space-around;
    padding: 15px 0 10px 0;
    cursor: pointer;
}
.app-1 {
    border: solid 2px;
    /*border-color: #40ff3a;*/
}
.app-2 {
    border: solid 2px;
   /* border-color: #3090ff;*/
}
.app-3 {
    border: solid 2px;
    /*border-color: #ff4e4e;*/
}
.app-4 {
    border: solid 2px;
    /*border-color: #ebff33;*/
}

section {
    background-image: url('fondo-lol.jpg');
    background-position: center center;
    padding: 20px;
}
section p {
    text-align: center;
    color: #fff;
    margin: 10px;
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: bold;
}

img {
    width: 10rem;
}
.info-site-container-1, .info-site-container-2, .info-site-container-3, .info-site-container-4 {
    background-color: rgb(32, 30, 30);;
    display: none;
}
.info-site {
    margin: 0 auto;
    width: 800px;
    padding: 20px;
}
.info-site-top-1, .info-site-top-2, .info-site-top-3, .info-site-top-4 {
    display: flex;
}
.info-site-top-1 img, .info-site-top-2 img, .info-site-top-3 img, .info-site-top-4 img {
    width: 15rem;
    height: 15rem;
}
.info-site-top-1 p, .info-site-top-2 p, .info-site-top-3 p, .info-site-top-4 p {
    padding: 0px 0 15px 15px;
    font-size: 1.6rem;
    color: #fff;
}

footer {
    height: 300px;
    background-color: #2b2b2b;
    margin-top: 60px;
    display: flex;
    justify-content: center;
}
footer p {
    padding-top: 30px;
    font-size: 2.6rem;
    font-weight: lighter;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.empresas-aliadas {
    width: 544px;
}
.aliados {
    padding: 20px;
    display: flex;
    justify-content: center;
    padding-top: 45px;
}
.aliados img {
    width: 16rem;
    margin: 20px;
}
.creditos {
    width: 256px;
    overflow-y: scroll;
}
.creditos p {
    font-size: 1.6rem;
    width: 225px;
    margin: 0 auto;
    text-align: left;
    margin-bottom: 70px;
}
.creditos button {
    width: 150px;
    margin-bottom: 50px;
}